@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: o;
  padding: o;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
  background-image: url("../public/bg.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}
.container{
  display: flex;
  width: 90vw;
  height: 90vh;
  background: rgba(41, 51, 107, 0.8);
  backdrop-filter: blur(10px) saturate(180%);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.12);
}